* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.griglia {
  background-color: white;
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;

  overflow: hidden;
}

.quadrato {
  width: calc(100% / 6);
  height: calc(100% / 6);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

.green {
  background-color: lightgreen;
}

.yellow {
  background-color: gold;
}

button {
  padding: 10px;
  background-color: pink;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid black;
}

.template {
  display: none;
}
